.template-tabs {
  max-width: 600px;
  margin: auto;
}
.tab-headers {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.tab-headers li.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.tab-content {
  padding: 1rem;
  border: 1px solid #ccc;
}